language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3
install:
  - pip install -e ".[test]"
script:
  - isort --recursive --diff validators tests && isort --recursive --check-only validators tests
  - flake8 validators tests
  - py.test --doctest-glob="*.rst" --doctest-modules --ignore=setup.py
