# MANIFEST.in stays as long as pyproject.toml does not officially support it
# https://packaging.python.org/en/latest/specifications/declaring-project-metadata/

# include
include CHANGES.md
include mkdocs.yaml


# global-include


# recursive-include
recursive-include tests *
recursive-include docs *


# graft


# exclude


# global-exclude


# recursive-exclude


# prune
prune docs/_build
prune **/__pycache__
